body {
    margin: 0px;
    font-family: sans-serif;
    display: flex;
    height: 100%;
    box-sizing: border-box;
    flex-direction: column;
    font-size: 16px;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#img-div {
    background-color: black;
    padding-top: 10%;
    flex: 0;
    width: 100%;
}

#img-main {
    display: block;
    margin: 0px auto;
}

#search-box-div {
    margin: 0px auto;
    padding: 20px;
    background-color: darkgoldenrod;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
}

#search-box-left {
    border-width: 1px 0px 1px 1px;
    border-style: solid;
    border-color: black;
    padding: 5px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#search-box-center{
    border-width: 1px 0px;
    border-style: solid;
    border-color: black;
    width: 100%;
    max-width: 500px;
    min-width: 200px;
}

#search-box-right {
    border-width: 1px 1px 1px 0px;
    border-style: solid;
    border-color: black;
    padding: 5px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#search-button-div {
    width: 100%;
    margin: 0px auto;
    justify-content: center;
    background-color: darksalmon;
    display: flex;
}

.button-main {
    background-color: lightblue;
    margin: 5px;
    padding: 5px;
    font-size: 12px;
    width: 125px;
}

#extra-text-1 {
    padding: 10px;
    text-align: center;
    background-color: darkolivegreen;
    flex-grow: 1;
    width: 100%;
    box-sizing: border-box;
}


